body {
    font-family: monospace;
    font-size: 30px;
    margin: auto;
    background-image: url(./pico.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    max-height: 100vh;
}

.linha {
    display: flex;
    flex-direction: row;
}

.celula {
    width: 40px;
    height: 40px;
    text-align: center;
}

#box {
    width: 40px;
    height: 40px;
    position: absolute;
    left: 0px;
    top: 360px;
}